*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header, main, footer{
  width: 80%;
  margin: auto;
}

header, main{
  margin-top: 20px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* intestazione sito */
/* logo */
.logo img{
  border-right: 1px solid #F2F2F2;
  padding-right: 30px;
}

.interaction nav{
  margin-top: 40px;
}
nav li{
  list-style: none;
  display: inline;
  padding-right: 20px;
}

nav li a{
  color:#B2B2B2;
  text-decoration: none;
  text-transform: uppercase;
  font-size:25px;
}

nav li a:hover{
  color: #2c2826;
}

/* banner */
header .banner{
  background-image: url(../img/banner.jpg);
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover{
  background-color: rgba(30, 30, 30, 0.20);
}

.written{
  padding-top: 400px;
  padding-left: 40px;
  padding-bottom: 60px;
  padding-right: 400px;
  color: #ffffff;
}

.written h1{
  font-size: 40px;
}

.written p{
  font-size: 18px;
}

/* corpo del sito */
main{
  background-color:#0086FF ;
}

main .primal,
main .central,
main .last{
  float: left;
  margin: 2% 0;
}

main .title{
  height: 50px;
  background-color: #ABCFE7;
}

main .primal,
main .last{
  height: 300px;
  background-color: #ABCFE7;
  width: 20%;
}

main .central{
  height: 300px;
  background-color: #ABCFE7;
  width: 56%;
  margin-left: 2%;
  margin-right: 2%;
}

/* footer del sito */
footer {
  height: 40px;
  background-color: #8801FE;
  margin-bottom: 20px;
  margin-top: 5px;
}

