*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header, main, footer{
  width: 80%;
  margin: auto;
}

header, main{
  margin-top: 20px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* intestazione sito */
/* logo */
.logo img{
  border-right: 2px solid #E8E8E8;
  padding-right: 30px;
}

.interaction nav{
  margin-top: 40px;
}

nav li{
  list-style: none;
  display: inline;
  padding-right: 20px;
}

nav li a{
  color:#B2B2B2;
  text-decoration: none;
  text-transform: uppercase;
  font-size:25px;
}

nav li a:hover{
  color: #1E1E1E;
}

/* banner */
header .banner{
  background-image: url(../img/banner.jpg);
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .cover{
  background-color: rgba(30, 30, 30, 0.20);
}

header .banner,
header .cover{
  border-radius: 15px;
}

.written{
  padding-top: 450px;
  padding-left: 40px;
  padding-bottom: 60px;
  padding-right: 400px;
  color: #ffffff;
}

.written h1{
  font-size: 40px;
}

.written p{
  font-size: 18px;
}

/* corpo del sito */
/* titolo */
main .title{
  margin-top: 40px;
}

.title h1{
  font-size:50px;
}

.title p{
  font-size: 20px;
  color: #BBBBBB;
}

/* colonne */
main .primal,
main .central,
main .last{
  float: left;
  margin: 40px 0;
}

main .primal,
main .last{
  width: 20%;
}

main .central{
  width: 56%;
  margin-left: 2%;
  margin-right: 2%;
}

.first-img{
  background-image: url(../img/img-1.jpg);
}

.second-img{
  background-image: url(../img/banner-2.jpg);
  background-position: center;
}

.third-img{
  background-image: url(../img/img-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}

.first-img, .second-img, .third-img, .trasparent{
  height: 300px;
  border-radius: 15px;
}

.trasparent{
  background-color: rgba(30, 30, 30, 0.20);
}

h2{
  line-height: 60px;
}

main p{
  color: #A3A3A3;
}


/* footer del sito */
footer {
  margin-bottom: 20px;
  margin-top: 5px;
}

footer section span::after{
  content:'\2764';
  color: #FF0000;
  font-size:25px ;
}

footer section{
  text-align: center;
}

footer section span{
  font-size: 20px;
}

